
@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-quxiao:before { content: "\e60b"; }
.icon-arrow-down:before { content: "\e609"; }
.icon-twitter:before { content: "\e600"; }
.icon-xiangji:before { content: "\e60a"; }
.icon-daohang:before { content: "\e607"; }
.icon-guanbi:before { content: "\e608"; }
.icon-iconfontguanji:before { content: "\e60d"; }
.icon-youtube:before { content: "\e601"; }
.icon-arrowright:before { content: "\e606"; }
.icon-google:before { content: "\e602"; }
.icon-facebook:before { content: "\e603"; }
.icon-menu:before { content: "\e60c"; }
.icon-32gerenzhongxinlingdang:before { content: "\e60e"; }
.icon-left:before { content: "\e604"; }
.icon-right:before { content: "\e605"; }
.icon-youtube1:before { content: "\e610"; }
.icon-youtube2:before { content: "\e60f"; }

@font-face {font-family: "iconfont2";
src: url('../fonts/iconfont2.eot'); /* IE9*/
src: url('../fonts/iconfont2.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
url('../fonts/iconfont2.woff') format('woff'), /* chrome、firefox */
url('../fonts/iconfont2.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
url('../fonts/iconfont2.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont2 {
  font-family:"iconfont2" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-message:before { content: "\e65b"; }


@font-face {
  font-family: 'iconfont3';
  src: url('../fonts/20160902/iconfont.eot'); /* IE9*/
  src: url('../fonts/20160902/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/20160902/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../fonts/20160902/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/20160902/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont3{
  font-family:"iconfont3" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 100;
  display: inline-block;
}

.iconfont3.open:before{content:'\e60f'}
.iconfont3.fire:before{content:'\e603'}
.iconfont3.right:before{content:'\e606'}
.iconfont3.door:before{content:'\e600'}
.iconfont3.hammer:before{content:'\e607'}
.iconfont3.open{color:#2BBC00;}
.iconfont3.fire{color:#F9D903;}
.iconfont3.right{color:#47C94A;}
.iconfont3.door{color:#288AD9;}
.iconfont3.hammer{color:#C5C172;}


@font-face {
  font-family: 'Blender Pro Book';
  src: url('../fonts/blenderpro-book-webfont.eot') /* IE9*/,
  url('../fonts/blenderpro-book-webfont.woff') format('woff'), /* chrome、firefox */
  url('../fonts/blenderpro-book-webfont.eot') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/blenderpro-book-webfont.svg') format('svg'); /* iOS 4.1- */
}


@font-face {
  font-family: "days";
  src: url('../fonts/dl281.eot'); /* IE9*/
  src: url('../fonts/dl281.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/dl281.woff') format('woff'), /* chrome、firefox */
  url('../fonts/dl281.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/dl281.svg#iconfont') format('svg'); /* iOS 4.1- */
}
