.g_renwu_commanders h3,.game_binzhong .arms_class_r ul li,.edit,.tit,.content_box .con,.content_box .item .text,.con_404,.service_con {direction:rtl;}
.tit,.content_box .con,.edit,.service_con {text-align:left;}
.layer_sub{font-size:18px !important;}