
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

@font-face {font-family: "blender-pro-book";
  src: url('../fonts/20160912/BlenderPro-Medium.otf'); /* IE9*/
  src: url('../fonts/20160912/BlenderPro-Medium.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/20160912/BlenderPro-Medium.otf') format('woff'), /* chrome、firefox */
  url('../fonts/20160912/BlenderPro-Medium.otf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/20160912/BlenderPro-Medium.otf#blender-pro-book') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-quxiao:before { content: "\e60b"; }
.icon-arrow-down:before { content: "\e609"; }
.icon-twitter:before { content: "\e600"; }
.icon-xiangji:before { content: "\e60a"; }
.icon-daohang:before { content: "\e607"; }
.icon-guanbi:before { content: "\e608"; }
.icon-iconfontguanji:before { content: "\e60d"; }
.icon-youtube:before { content: "\e601"; }
.icon-arrowright:before { content: "\e606"; }
.icon-google:before { content: "\e602"; }
.icon-facebook:before { content: "\e603"; }
.icon-menu:before { content: "\e60c"; }
.icon-32gerenzhongxinlingdang:before { content: "\e60e"; }
.icon-left:before { content: "\e604"; }
.icon-right:before { content: "\e605"; }
.icon-youtube1:before { content: "\e610"; }
.icon-youtube2:before { content: "\e60f"; }

@font-face {font-family: "iconfont2";
  src: url('../fonts/iconfont2.eot'); /* IE9*/
  src: url('../fonts/iconfont2.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont2.woff') format('woff'), /* chrome、firefox */
  url('../fonts/iconfont2.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont2.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont2 {
  font-family:"iconfont2" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-message:before { content: "\e65b"; }



@font-face {
  font-family: 'iconfont3';
  src: url('../fonts/20160902/iconfont.eot'); /* IE9*/
  src: url('../fonts/20160902/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/20160902/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../fonts/20160902/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/20160902/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont3{
  font-family:"iconfont3" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 100;
  display: inline-block;
}